<html>
<head>
    <title>My Comic Collection Search</title>

{#    {% load static %}#}
{##}
{#    <link rel="stylesheet" type="text/css" href="{% static 'search/pico.min.css' %}">#}

    <style>
        .wrapper {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
    </style>
</head>
<body>
 <form>
  <label for="fname">Keywords:</label>
  <input type="text" id="keywords" name="keywords" {% if keywords != '' %}value="{{ keywords }}"{% endif %}>
</form>

{% if num_comics > 0 %}
Search resulted in {{ num_comics }}
    {% if num_comics > 1 %}
    comics.
    {% else %}
    comic.
    {% endif %}<br><br>
{% endif %}

<div class="wrapper">
{% for comic in comics %}
<div>
    <a href="{{ comic.url }}">
        <img src="{{ comic.url}}.jpg">
    </a>
</div>
{% endfor %}
</div>
</body>
</html>
