<html>
    <head>
        <title>My Comic Collection Search</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'search/pico.min.css' %}">
        <style>
            .wrapper {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                row-gap: 20px;
                column-gap: 20px;
            }
            .hidden {
                display: none
            }
        </style>
    </head>
    <body>
        <br>
            <div class="container-fluid">
{#                <div id="simple">#}
{#                    <form>#}
{#                        <input type="search" id="keywords" name="keywords" {% if keywords != '' %}value="{{ keywords }}"{% endif %}>#}
{#                    </form>#}
{#                </div>#}
                <div id="advanced_search_button"></div>
                    <form>
                        <input type="search" id="keywords" name="keywords" {% if keywords != '' %}value="{{ keywords }}"{% endif %}>
                    <div id="advanced_search" class="hidden">
                                <div class="wrapper">
                                    <legend><strong>Format</strong></legend>
                                    <label for="Any">
                                        <input type="radio" id="Any" name="format" value="Any"
                                               {% if format == 'Any' %}checked{% endif %}>
                                        Any
                                    </label>
                                    <label for="Floppy">
                                        <input type="radio" id="Floppy" name="format" value="Floppy"
                                            {% if format == 'Floppy'%}checked{% endif %}>
                                        Floppy
                                    </label>
                                    <label for="Trade">
                                        <input type="radio" id="Trade" name="format" value="Trade"
                                            {% if format == 'Trade' %}checked{% endif %}>
                                        Trade
                                    </label>
                                </div>
                    </div>
                    </form>
                {% if num_comics > 0 %}
                    Search resulted in {{ num_comics }} {% if num_comics > 1 %}comics.{% else %}comic.{% endif %}
                    <br>
                    <br>
                {% endif %}
                <div class="wrapper">
                {% for comic in comics %}
                <div>
                    <a title="{{ comic.LinkTitle }}" href="{{ comic.Url }}">
                        <img src="{{ comic.Url}}.jpg">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <!-- Load our React component. -->
    <script src="{% static 'search/advanced_search.js' %}"></script>
    </body>
</html>
